<div class="main-content-wrapper">
  <div class="calendar-container">
    <app-form-menu
      (showMenu)="onFormSubmit($event)"
      (monthsEmitted)="onHandleMonths($event)"
    ></app-form-menu>
  </div>

  @if (hasPlates()) {
  <div class="calendar-display-container calendar-container">
    <div class="back-container">
      <button class="back-button" (click)="goToDashboard()">
        <i class="fa-solid fa-backward-fast icon-back"></i>Regresar
      </button>
    </div>
    <table class="calendar-table">
      <thead>
        <tr>
          <th>Lun</th>
          <th>Mar</th>
          <th>Mié</th>
          <th>Jue</th>
          <th>Vie</th>
        </tr>
      </thead>
      <tbody>
        @for (week of calendar(); track $index) {
        <tr class="calendar-week">
          @for (day of week; track $index) {
          <td class="calendar-day-cell">
            @if (day) {
            <div class="day-content">
              <strong class="day-date">{{ day.displayDate }}</strong>
              <ul class="dish-list">
                @if (day.menu && day.menu.dishes?.length > 0 ) { @for (dish of
                day.menu.dishes; track $index) {
                <li class="dish-item">{{ dish.name }}</li>
                }
                <button
                  class="action-button edit-button"
                  (click)="onShowDescription(day)"
                >
                  Ver más...
                </button>
                }@else { }
              </ul>
            </div>
            } @else {
            <div class="empty-day-cell"></div>
            }
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @if(errorMessage){
  <div class="error">
    <p>{{ errorMessage }}</p>
  </div>
  }
</div>
@if(menuVisible){

<app-description-menu
  [menuofDay]="menuOfDay()"
  (closeMenu)="menuVisible = false"
  class="description-menu-wrapper"
></app-description-menu>
}
