<div class="admin-dashboard">
  <header>
    <h1>NutriSchool Admin</h1>
  </header>
  <div class="body">
    <div class="class-list">
      <h2>Clases:</h2>
      @if (classes().length > 0) { @for (classItem of classes(); track $index) {
      <div class="class-item">
        <p class="class-name">{{ classItem.name }}</p>
        <button class="btn green" (click)="goToClass(classItem.idClass)">
          Asignar Menu
        </button>
        <button class="btn green" (click)="goToClass(classItem.idClass)">
          Editar clase
        </button>
      </div>
      } } @else {
      <p>No hay clases disponibles.</p>
      }
    </div>
    <div class="actions">
      <form [formGroup]="form">
        <label class="label" for="name"></label>
        <input
          class="input"
          type="input"
          id="name"
          placeholder="Nombre de la clase"
          maxlength="12"
          formControlName="name"
        />
        <button class="btn action" (click)="addClass()">Añadir clase</button>
      </form>
      <button class="btn action" (click)="goToCreateDish()">
        Crear platos
      </button>
    </div>
  </div>
</div>
