.admin-dashboard {
  display: flex;
  flex-direction: column;
  background: #f0f0f0;
  min-height: 100vh;
  border-radius: 48px;
  padding: 32px 20px;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.body {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.body h2 {
  color: #333;
}
.class-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.class-item {
  display: flex;
  gap: 4em;
  font-weight: bold;
}
.class-name {
  width: 25%;
}
header h1 {
  margin: 0;
  color: #333;
}

.actions {
  margin: 2rem 0;
  display: flex;
  gap: 1rem;
}

.btn {
  background: linear-gradient(90deg, #01243b 0%, #1687c8 100%);
  color: #fff;
  font-weight: 700;
  border: 0.5px solid #fff;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 1rem 2rem;
  cursor: pointer;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.09);
  transition: background 0.2s;
  width: 200px;
  align-self: flex-end;
  font-family: "Montserrat", Arial, sans-serif;
}

.btn.action {
  border-radius: 999px;
  width: 180px;
}

.btn.logout {
  background: transparent;
  border: 2px solid #333;
  color: #333;
}

.actions {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.input {
  display: flex;
  height: 40px;
  margin-bottom: 1rem;
  padding: 0 1em;
  width: 150px;
}
@media (max-width: 600px) {
  .actions {
    flex-direction: column;
    gap: 0.5rem;
  }
}
