<div class="admin-dashboard">
  <header>
    <h1>NutriSchool Admin</h1>
    <button class="btn logout" (click)="logout()">Log Off</button>
  </header>

  <div class="actions">
    <button class="btn green" (click)="goToCreateDish()">Create Dish</button>
  </div>
  <div class="class-list">
    <h2>Clases:</h2>
    @if (classes().length > 0) { @for (classItem of classes(); track $index) {
    <div class="class-item">
      <span>{{ classItem.name }}</span>
      <button class="btn green">Asignar Menu</button>
    </div>
    } } @else {
    <p>No classes available.</p>
    }
  </div>
  <form>
    <label></label>
    <input type="input" />
    <button class="btn green" (click)="goToClass()">Add Class</button>
  </form>
</div>
