.calendar-container {
  background-color: #ffffff;
  padding: 25px;
}
.main-content-wrapper {
  position: relative; /* Agregado para que los hijos con position absolute se posicionen aquí */
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  display: flex;
}

/* Estilo para el componente que flota encima */
.app-create-menu {
  position: absolute; /* O 'fixed' si quieres que flote aunque hagas scroll */
  top: 50%; /* Centrado vertical */
  left: 50%; /* Centrado horizontal */
  transform: translate(-50%, -50%);
  z-index: 9999; /* Asegura que esté por encima */
  background-color: white; /* Fondo blanco para que destaque */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 40vw;
  max-height: 80vh;
  overflow-y: auto; /* Para scroll interno si es contenido largo */
}
.month-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  margin-right: 20px;
}
.title,
.month-year-text {
  color: #2c3e50;
  font-size: 2.2em;
  font-weight: 600;
  text-transform: uppercase;
}

.month-year-heading {
  color: #2c3e50;
  font-size: 1.8em;
  margin: 0;
  font-weight: 600;
}

/* Tabla del calendario */
.calendar-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.calendar-table td {
  border: 1px solid #e0e0e0;
  padding: 15px;
  text-align: center;
  vertical-align: top;
  height: 120px;
}

.calendar-table th {
  background-color: #f4f7f6;
  color: #555;
  font-weight: 600;
  padding: 12px 0;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.calendar-table tbody tr:nth-child(odd) {
  background-color: #fdfdfd;
}

.calendar-day-cell {
  background-color: #ffffff;
}

.empty-day-cell {
  background-color: #f9f9f9;
}

.day-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.day-date {
  font-size: 1.1em;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 8px;
  display: block;
}

.dish-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  text-align: left;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dish-item {
  font-size: 0.9em;
  color: #444;
  margin-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Botones dentro de la celda */
.assign-button {
  background-color: #28a745;
  color: white;
  margin-top: 10px;
  display: block;
  width: 100%;
}

.assign-button:hover {
  background-color: #218838;
  transform: translateY(-1px);
}

.edit-button {
  background-color: #ffc107;
  color: #333;
  margin-top: 10px;
  display: block;
  width: 100%;
}

.edit-button:hover {
  background-color: #e0a800;
  transform: translateY(-1px);
}
