<form [formGroup]="form" (submit)="onSubmit()" class="selection-form">
  <div class="form-group">
    <label for="monthSelect">Mes</label>
    <select id="monthSelect" formControlName="monthSelected">
      <option value="" disabled selected>Selecciona un mes</option>
      @for (month of months(); track $index) {
      <option [value]="month.value">{{ month.name }}</option>
      }
    </select>
    @if (form.controls['monthSelected'].touched &&
    form.controls['monthSelected'].invalid) {
    <div class="error-message">El mes es obligatorio.</div>
    }
  </div>
  <button class="action-button primary-button" type="submit">
    Ver calendario
  </button>
</form>